@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/responsive.less";


/* Put your CSS here */
html, body {
  margin-top: 10px;
}

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

[stage] {
    background-color:#DECCE0;
    height:300px;
    position:relative;
}

.positioned {
    position: absolute;
    left: 50px;
    top: 50px;
    .transition(~"top .5s ease-in, left .5s ease-out");
}

