<div class="container" style="background-color:#D9EDF7;height:300px" ng-click="stageClick()">
  <span id="sprite" 
    class="{{display.sprite}} {{options.turning}} positioned"
    style="font-size:{{display.size}}px;color:{{display.color}}"></span>
  <h1 class="text-center" style="opacity:0.2">{{scope.idle()}}</h1>
</div>
<div class="alert">
  {{s1()}} {{messages()}} {{penalties()}}
</div>
<div class="container">
  <div class="row">
    <div class="span6">
      <h4>Last Reaction Time</h4>
      <div class="row">
        <div class="span2 alert alert-info">
          <div class="text-center" style="font-size:30px">{{display.ms}} ms</div> 
        </div>
      </div>
      <h4>Options</h4>
      <label class="checkbox">
        <input type="checkbox" ng-model="options.size">
        <i class="icon-fullscreen"> </i>Vary size
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="options.shape" ng-true-value="1" ng-false-value="0">
        <i class="icon-asterisk"> </i>Vary shape
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="options.turning" ng-true-value="icon-spin" ng-false-value="">
        <i class="icon-refresh"> </i>Turning shape
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="options.location">
        <i class="icon-move"> </i>Vary location
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="options.colour" ng-true-value="2" ng-false-value="0">
        <i class="icon-tint"> </i>Vary colour
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="options.onstar" ng-true-value="4" ng-false-value="0">
        <i class="icon-hand-up"> </i>Click on shape
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="options.penalties">
        <i class="icon-ban-circle"> </i>Penalties
      </label>
    </div>
    <div class="span6">
      <h4>Your times (ms)</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>time</th>
            <th>reaction</th>
            <th>penalties</th>
            <th>hidden</th>
            <th>options</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="t in display.times">
            <td>{{t.time}}</td>
            <td>{{t.ms}}</td>
            <td>{{t.penalties}}</td>
            <td>{{t.hidden}}</td>
            <td ng-bind-html="{{t.options}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

